<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="usuario" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nueva Contraseña</ion-label>
    <ion-input [(ngModel)]="nuevaContrasena" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar Contraseña</ion-label>
    <ion-input [(ngModel)]="confirmarContrasena" type="password"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="enviarRecuperacion()">Enviar Recuperación</ion-button>
</ion-content>
